<div class="container">
      <div class="row">
            <div class="col">
                  <label>Nombre persona</label>
                  <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="tituloPersona">
                  {{tituloPersona}}
                  <h1>Listado de personas</h1>
                  <button class="btn btn-primary" [disabled]="!agregarPersonas" (click)="onCrearPersona()">
                        Agregar Personas
                  </button>
                  <p *ngIf="personaCreada">{{agregarPersonaStatus}}</p>
                  <app-persona></app-persona>
            </div>
      </div>
</div>